# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfig: 'Release'

steps:

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'src/*.sln'
    arguments: '--configuration $(buildConfig)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: 'src/**/*.Tests.csproj'
    arguments: '--configuration $(buildConfig)'
